////FONT//////
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/////COLORS/////
$text-color-white: #fff;
$text-color-red: #ff6060;
$color-gray: #f6f6f6;

/////RESET/////
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //pour definir la valeur de 1rem : on veut 1rem = 10px, soit 10px / 16px = 62.5 (16px est la taille par default sur les navigateur)
}

body {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    color: $text-color-red;
    font-size: 1.2rem;
    min-height: 100vh;
}

main {
    margin:0 5rem 0 5rem;
    min-height: 75vh;
    @media screen and (max-width: 600px) {
        margin:0 1rem 0 1rem;
    }
    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        width: 110rem;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}

::selection {
    background-color: $text-color-white;
    color: $text-color-red;
}

.active {
    text-decoration: underline;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
}